*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* #383838
   #3b3b3b
   #393939
   #3e3e3e
   #292929
   #333333
   #313131
*/

body{
    background-color: #333333;
}

nav{
    background: #292929;
    line-height: 80px;
    position: fixed;
    width: 100%;
}

label{
    line-height: 80px;
    font-size: 30px;
    color: #fff;
    font-weight: 200;
    margin-left: 50px;
    cursor: pointer;
}

nav ul{
    float: right;
    margin: 0 10px;
}

nav ul li{
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    color: #fff;
    font-size: 20px;
    padding: 6px 15px;
    font-weight: 600;
    background-color: #B20317;
    border-radius: 3px;
}

/* 
#B20317
#ff1b2d
*/
nav ul li a:hover{
    background-color: #B20317;
    color: #fff;
    transition: 0.5s;
}

.side-menu{
    position: fixed;
    background: #292929;
    width: 250px;
    height: 100%;
    margin-top: 0;
}

/* 
 Logotipo
*/

.side-menu center img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid #B20317;
}

.side-menu center h2{
    color: #fff;

}

/****************
Elementos Menu
****************/

.side-menu a{
    display: block;
    line-height: 60px;
    transition: 0.5s;
}

.side-menu a:hover{
    background: #B20317;
    padding-left: 20px;
}

.side-menu span{

    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 10px;
    color: #fff;
}

.side-menu i{

    font-size: 20px;
    margin-left: 10px;
    color: #fff;
}

/****************
Funcion barra menu
****************/
nav .menu-bar{
    float: right;
    margin-top: 20px;
    display: none;
    margin-right: 20px;
}

#menu{
    display: none;
}


/**********************
Seccion Redes Sociales
***********************/

/*******************
Pagina Responsiva
*******************/
@media (max-width:850px){
    .side-menu a span{
        display: none;
    }

    .side-menu center{
        display: none;
    }

    .side-menu {
        width: 100px;
    }

    .side-menu a i{
        display: block;
        line-height: 80px;
        text-align: center;
        margin-left: 0;
        font-size: 35px;
        
    }
}

@media (max-width:650px){
    nav ul{
        display: none;
        
    }

    .side-menu{
        width: 100%;
        text-align: center;
        left: 100;
        background-color: #4c516d;
        transition: all 0.5s;
    }

    .side-menu a i{
        display: none;
    }

    .side-menu a span{
        display: block;
    }

    nav .menu-bar{
        display: block;
    }
}

#menu:checked ~ .side-menu{
    left: 0;
}