<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Miguel-Fernandez</title>
</head>

<body>

    <header class="idiomas">
        <div class="idiomas-contenedor">
            <button class="boton-idioma">ES</button>
            <button class="boton-idioma">EN</button>
        </div>
    </header>

    <!--Menu nav-->

    <div class="side-bar">
        <!--Menu Desplegable-->
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu" class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </label>
        </nav>

        <!--Logo del menu-->
        <div class="side-bar-logo">

        </div>

        <div class="side-bar-contenedor">
            <div></div>
        </div>

        <div class="side-bar-redes">

        </div>
    </div>


    <!--CONTENIDO PRINCIPAL-->
    <main class="main-contenedor">

        <!--Seccion Inicio-->
        <section class="Inicio">
            <div class="header-section">
                <h3>Hola, yo soy</h3>
                <div class="titulo-section">
                    <h2>MIGUEL FERNANDEZ</h2>
                </div>
            </div>

            <div class="main-section">
                <div class="texto-section">
                    <h4>Soy estudiante de programación web</h4>
                </div>
            </div>
        </section>

        <!--Seccion Acerca de-->
        <section class="Acerca">

        </section>

        <!--Seccion Habilidades-->
        <section class="Habilidades">

        </section>

        <!--Seccion Portafolio-->
        <section class="Portafolio">

        </section>

        <!--Seccion Contacto-->
        <section class="Contacto">

        </section>

    </main>
    <!--Inicio-->
</body>

</html>