<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miguel Fernandez</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&family=Roboto:wght@300;400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://kit.fontawesome.com/c3598481ba.js" crossorigin="anonymous"></script>
</head>

<body>
    <!--Cabecera con botones de idiomas-->

    <header class="idiomas">
        <div class="idiomas-contenedor">
            <button class="boton-idioma" id="boton-es">ES</button>
            <button class="boton-idioma" id="boton-en">EN</button>
        </div>
    </header>

    <!--Menu nav-->
    <div class="side-bar">
        <!--Menu Desplegable-->
        <nav>
            <input type="checkbox" id="menu">
            <label for="menu" class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </label>
        </nav>

        <!--Logo del menu-->
        <div class="side-bar-logo">
            <center>
                <img src="../Assets/img/Logo-MF.png">
                <br><br>
            </center>
        </div>

        <div class="side-bar-contenedor">
            <br>
            <a href="index.html"><i class="fa-solid fa-house"></i><span>Inicio</span></a>
            <a href="acerca.html"><i class="far fa-user-circle"></i><span>Acerca de</span></a>
            <a href="habilidades.html"><i class="fas fa-code"></i><span>Habilidades</span></a>
            <a href="portafolio.html"><i class="far fa-folder-open"></i><span>Portafolio</span></a>
            <a href="contacto.html"><i class="fa-solid fa-envelope"></i><span>Contacto</span></a>
        </div>

        <div class="side-bar-redes">
            <center>
                <br><br>
                <a href="https://www.facebook.com/raziel.fernandez.31" target="_blank"><i
                        class="fa-brands fa-facebook"></i></a>
                <a href="https://twitter.com/RazielFernand11" target="_blank"><i
                        class="fa-brands fa-twitter"></i></i></a>
                <a href="https://github.com/Maxrealms2002" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/miguel-raziel-fernandez-291901226/" target="_blank"><i
                        class="fa-brands fa-linkedin"></i></a>
            </center>
        </div>
    </div>

    <!--CONTENIDO PRINCIPAL-->
    <main>
        <!--Seccion Portafolio-->
        <section class="Portafolio">

            <div class="triangle" id="triangulo-portafolio">
                <i class="fa-solid fa-play"></i>
            </div>


            <div class="main-section" id="main-portafolio">
                <div class="header-section" id="header-portafolio">
                    <h2>PORTAFOLIO</h2>
                    <p> Conoce los proyectos en los que he trabajado
                    </p>
                </div>

                <div class="carrusel-contendor">
                    <h2>hola xd</h2>
                </div>

                <!--
                <div class="carrusel-portafolio">
                    <div class="carrusel-contenedor">
                        <button aria-label="Anterior" class="carrusel-anterior">
                            <i class="fa-solid fa-circle-chevron-left"></i>
                        </button>
                        <div class="carrusel-lista">
                            <div class="carrusel-elemento">
                                <img src="../Assets/img/portafolio/IrregularVerbConcerter.png"
                                    alt="Irregular Verb Converter">
                                <p>Irregular Verb Converter</p>
                            </div>
                            <div class="carrusel-elemento">
                                <img src="../Assets/img/portafolio/ChackayGrill.jpg" alt="Chack-kay Grill">
                                <p>Chack-kay Grill</p>
                            </div>
                            <div class="carrusel-elemento">
                                <img src="../Assets/img/portafolio/JanalKaab.jpg" alt="Janal Kaab">
                                <p>Janal Kaab</p>
                            </div>
                        </div>
                        <button aria-label="Siguiente" class="carrusel-siguiente">
                            <i class="fa-solid fa-circle-chevron-right"></i>
                        </button>
                    </div>
                </div>
-->
            </div>
        </section>
    </main>
</body>

</html>